<html ng-app>
	<head>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body style="padding:50px">
		<div ng-init="albums = [ {name:'madrid',date:'2013-09-01',title:'Exploring Spain'},
									{name:'iceland',date:'2013-03-05',title:'Cold as hell'},
									{name:'thailand',date:'2013-05-12',title:'Cheap and best'},
									{name:'australia',date:'2013-02-11',title:'Wedding bash and cricket'}]">

			<input type="text" ng-model="searchFor" size="20" />
			<p>
				There are {{albums.length}} albums available to view
			</p>
			<ul>
				<li ng-repeat="album in albums | filter:searchFor | orderBy:'date'">
					{{album.title |uppercase}} - {{ album.name }} ({{ album.date }})
				</li>
			</ul>
		</div>
	</body>
</html>